version: '3.8'

services: 
  php: 
    build: 
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel-php
    restart: unless-stopped
    working_dir: /var/www
    volumes: 
      - .:/var/www
    networks: 
      - laravel

  nginx: 
    image: nginx:alpine
    container_name: laravel_nginx
    restart: unless-stopped
    ports:  
      - "8000:80"
    volumes: 
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on: 
      - php 
    networks: 
      - laravel
  
  db:
    image: mysql:8.0
    container_name: laravel-mysql
    restart: unless-stopped
    environment: 
      MYSQL_DATABASE: shopping_db
      MYSQL_USER: user
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: secret
    ports: 
      - "3307:3306"
    volumes: 
      - dbdata:/var/lib/mysql
    networks:
      - laravel

volumes: 
  dbdata: 

networks: 
  laravel: 
    driver: bridge